:root {
  --main-font: 'IBM Plex Mono';
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255, 0, 111, 0.4);
  --text-color: #F1B2CE;
  --text-with-shadow-color: #DB00FF;
  --text-shadow: #ff0070;
  --nav-text-color: #ff0070;
  --title-text-color: #000028;
  --background-color: #000028;
  --background-color-title: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}